@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Serif+Pro:wght@300&display=swap');
.about_me{
    height: auto;
}
.title{
    height: auto;
    
}
.title h1{
    font-family: 'Lobster', cursive;
    color: white;
    text-decoration: underline;
    padding:0;
    height: auto;
    width: auto;
    text-align: center;
    margin-top: 35%;
}
.img_holder{
    margin-left: auto;
    opacity: 0.9;
    width: 70%;
    height: 50%;
    overflow: hidden;
    border-radius: 25%;
}
.about_me h1{
    font-family: 'Lobster', cursive;
    padding: 10%;
    margin-top: 25%;
    width: auto;
    height: auto;
    text-align: center;
}
.about_me h1 span{
    font-family: 'Lobster', cursive;
    color: white;
    font-weight: bold;
}
.about_me p{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
}
.about_me:hover{
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}