
.sidebar{
  overflow: auto;
  float: left;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  display:block;
  left: -100%;
  animation: slide-open 1s forwards;
}
@keyframes slide-open{
  100%{ left: 0}
}
.sidebar h2{
  padding-top: 20%;
  color: white;
  text-align: center;
  margin-bottom: 10%;
  font-family: 'Lobster', cursive;
  cursor: pointer;
  height: auto;
  font-size: auto;
}
.sidebar ul{
  height: auto;
}
.sidebar ul li{
  padding: 10%;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  height: auto;
  list-style: none;
}    
.sidebar ul li a{
  display: block;
  text-decoration: none;
  color: #bdb8d7;
}
.sidebar ul li:hover{
  background-color: #000000;
  opacity: 0.5;
}
.sidebar ul li:hover a{
  color: #fff;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

 